<div class="create-retro d-flex justify-content-end" style="background-image: url('assets/img/retro-bg.png')">
        

    <form action="" class="create-retro__form">
       
         
          <div class="form-group mb-5">
            <label for="commentCount">Yeni Şifre</label>
            <input type="password" id="password" class="form-control">
          </div>
          
          <div class="form-group mb-5">
            <label for="commentCount">Şifre Tekrarla</label>
            <input type="password" id="password" class="form-control">
          </div>
        
        
        <div class="d-flex justify-content-end">
         <button (click)="gotoSignin()" type="button" class="btn btn-theme btn-vertical-padding btn-horizontal-padding">Kaydet</button>
          <a [routerLink]="['/panel/dashboard']"></a>
        </div>
      </form>
    
    </div>
    
      