<div class="create-retro d-flex justify-content-end" style="background-image: url('assets/img/retro-bg.png')">
        

    <form action="" class="create-retro__form">
        
        <div class="form-group mb-5">
          <label for="commentCount">Email</label>
          <input type="email" id="email" class="form-control">
        </div>
       
         
        
        <div class="d-flex justify-content-end">
          <button (click)="gotoForgetpassword()" class="btn btn-theme btn-vertical-padding btn-horizontal-padding">Gönder</button>
          
        </div>
      </form>
    
    </div>
    
      